#general-container{
}
#avatar-section{
    height: 200px;
    margin-top: 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#information-display{
}
#function-display{
}

/*avatar section*/
#avatar-display{
    width: 208px;
    height: 208px;
    display: block;
    position: absolute;
    top: 30px;
}

#avatar-display *{
    width: 100%;
    height: 100%;
}

p.avatar-name{
    display: block;
    font-size: 2.5rem !important;
    font-weight: 600;
}

.avatar-link{
    display: block;
}

.avatar-border{
    background: linear-gradient(35deg, var(--primary-color) 0%, rgba(128,0,128,1) 100%);
    padding: 4px;
    border-radius: 50%;
    z-index: 1;
    transition: background 0.7s ease-out;
}

.avatar-mask{
    position: relative;
    top: -100%;
    border-radius: 50%;
}
.avatar-mask:hover{
    background-color: rgba(26, 26, 26, 0.15);
}
#avatar-img {
    clip-path: circle(50%);
}

/*info section*/
.info-text{
    display: inline-block;
    font-weight: 600;
}

/*function section*/
.tablink{
    min-width: 60px;
    position: relative;
}

.tablink:hover .tab-underline{
    background-position: left;
}

.tab-underline{
    position: absolute;
    height: 4px;
    width: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0) 50%, var(--primary-color) 50%) right;
    background-size: 200%;
    transition: .3s ease-out;  
    bottom: 0px;
}
.post-container{
    width: 1728px;
}

#post-tabcontents{
    height: 914px;
}

.tabcontents{
    width: 200%;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/*post*/
.imgp img{
    width: 200px;
    height: 200px;
}

.active .tab-underline{
    background: var(--primary-color);
}

.date-n-author{
    font-size: 0.7rem;
}

.contentp > *{
    max-width: 600px;
}

.contentp * {
    color: var(--text-light);
}

.title{
  max-height: 48.8px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author{
    font-weight: 600;
}

.decription{
    max-height: 72px;
    /*overflow: scroll;*/
    overflow-wrap: break-word;
    overflow-y: auto;
    /*overflow-y: auto;*/
}
/*create*/
.create-label{
    font-weight: 600;
}
.img-preview{
    width: 200px;
    object-fit: cover;
}
#category-items{
    max-height: 816px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.upload-preview{
    height: 210px;
    padding: 10px;
    outline: 2px dashed var(--primary-color);
    outline-offset: -10px;
}

.upload-preview i{
    font-size: 100px;
    color: var(--primary-color);
}

.upload-icon{
    display: inline-block;
    padding: 50px 374px;
}

.preview{
    max-height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
}

.move-out{
    outline-offset: 0px;
    animation: outline-moveout 0.5s
}

.move-in{
    animation: outline-movein 0.5s;
}

@keyframes outline-moveout{
    0%   {outline-offset: -10px;}
    100% {outline-offset: 0px;}
}

@keyframes outline-movein{
    0%   {outline-offset: 0;}
    100% {outline-offset: -10px;}
}

.category-item{
    width: 169px;
}
/*function section*/
/*-------------*/